body {
    background-color: #ffffff ;
    margin: 1px;
    padding: 3px;
    font-size: 15px;
	font-family: Verdana, sans-serif;
	color: #002a5b;
	text-align: center;
}

a {
	padding: 2%;
    font-size: 2em;    
    color: #465d85;
    text-decoration: bold;
}
a:hover {
    color: #0d57aa;
    text-decoration: none;
}	
#footer {
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
    font-size: 50%;
    font-family: serif; 
	display: block;
}


h1 {
	display: block;
}
h2 {
	text-decoration: bold;
	text-decoration: underline;
	font-size: 2em;
}
div {
	float: left;
	border: 5px double #7a121c;
	background-color: #cfc096;
}
#mutton {
	margin: 5px; 
}
form {
    display: inline-block;
	}
#target {
	padding: 2%;
	border: 5px solid #002a5b;
	background-color: #cfc096;
}

tr {
	border: 3px solid #002a5b;
}

td {
	text-align: center;
	padding: .5%;
}
.funf {
	
}
